<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
 <property name="corePoolSize" value="10" />
 <property name="maxPoolSize" value="100" />
 <property name="queueCapacity" value="500" />
</bean>

<bean id="testJobTask" class="hny.wa.scheduleBySpring.Schedule0">
	<property name="userService">
		<ref local="userService" />
	</property>
	<property name="attendanceService">
		<ref local="attendanceService" />
	</property>
</bean>

<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
 <property name="targetObject" ref="testJobTask" />
 <property name="targetMethod" value="service" />
</bean>

<bean id="taskTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
 <property name="jobDetail" ref="jobDetail" />
 <property name="startDelay" value="10000" />
 <property name="repeatInterval" value="15000" />
</bean>

<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
 <property name="jobDetail" ref="jobDetail" />
 <property name="cronExpression" value="0 1 11 ? * MON-FRI *" />
</bean>

<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
 <property name="triggers">
  <list>
   
   <ref bean="cronTrigger" />
  </list>
 </property>
 <property name="taskExecutor" ref="executor" />
</bean>

<bean id="userDao" class="hny.wa.dao.impl.UserDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
</bean>

<bean id="userService" parent="transactionProxy">
	<property name="target">
		<bean class="hny.wa.service.impl.UserServiceImpl">
			<property name="userDao">
				<ref local="userDao" />
			</property>	
		</bean>
	</property>
</bean>

<bean id="attendanceDao" class="hny.wa.dao.impl.AttendanceDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
</bean>

<bean id="attendanceService" parent="transactionProxy">
	<property name="target">
		<bean class="hny.wa.service.impl.AttendanceServiceImpl">
			<property name="attendanceDao">
				<ref local="attendanceDao" />
			</property>	
		</bean>
	</property>
</bean>


</beans>