<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "/WEB-INF/dtd/spring-beans.dtd">
<beans default-lazy-init="true">

	<bean id="userDao" class="hny.wa.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userService" parent="transactionProxy">
		<property name="target">
			<bean class="hny.wa.service.impl.UserServiceImpl">
				<property name="userDao">
					<ref local="userDao" />
				</property>	
			</bean>
		</property>
	</bean>
	
	<bean id="workdayDao" class="hny.wa.dao.impl.WorkdayDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="WorkdayService" parent="transactionProxy">
		<property name="target">
			<bean class="hny.wa.service.impl.WorkdayServiceImpl">
				<property name="workdayDao">
					<ref local="workdayDao" />
				</property>	
			</bean>
		</property>
	</bean>
	<bean id="loginAction" class="hny.wa.action.LoginAction"
		lazy-init="false">
		<property name="userService">
			<ref local="userService" />
		</property>
		<property name="departmentService">
			<ref local="departmentService" />
		</property>
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
		<property name="WorkdayService">
			<ref local="WorkdayService" />
		</property>
	</bean>
	
	<bean id="signAction" class="hny.wa.action.signAction"
		lazy-init="false">
		<property name="userService">
			<ref local="userService" />
		</property>
		<property name="departmentService">
			<ref local="departmentService" />
		</property>
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
		<property name="WorkdayService">
			<ref local="WorkdayService" />
		</property>
	</bean>
	
	<bean id="departmentDao" class="hny.wa.dao.impl.DepartmentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="departmentService" parent="transactionProxy">
		<property name="target">
			<bean class="hny.wa.service.impl.DepartmentServiceImpl">
				<property name="departmentDao">
					<ref local="departmentDao" />
				</property>	
			</bean>
		</property>
	</bean>
	
	<bean id="getDepartsAction" class="hny.wa.action.getDepartsAction" lazy-init="false">
		<property name="departmentService">
			<ref local="departmentService" />
		</property>
	</bean>
	
	<bean id="getClertsAction" class="hny.wa.action.getClertsAction" lazy-init="false">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	
	<bean id="attendanceDao" class="hny.wa.dao.impl.AttendanceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="attendanceService" parent="transactionProxy">
		<property name="target">
			<bean class="hny.wa.service.impl.AttendanceServiceImpl">
				<property name="attendanceDao">
					<ref local="attendanceDao" />
				</property>	
			</bean>
		</property>
	</bean>
	
	<bean id="getDetailAction" class="hny.wa.action.getDetailAction" lazy-init="false">
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
	</bean>
	
	<bean id="getDownloadAction" class="hny.wa.action.getDownloadAction" lazy-init="false">
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
	</bean>
	
  

</beans>